@import "./variables.css";

.vector-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
    pointer-events: none;
    user-select: none;

    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;

    opacity: 0.5;
}

.vector-template {
    display: none;
}

.vector-item {
    width: 130%;
    margin-left: -15%;
    min-width: 1000px;
    flex-shrink: 0;
    
    stroke: var(--accent-color);
    stroke-width: 2px;
}
