@import "./variables.css";


/* Footer */
.footer {
    background-color: #000000;
    color: var(--text-color-inverted);
    padding: 3rem 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 0 2rem;
}

.footer-logo {
    color: var(--text-color-inverted);
    font-size: 1.5rem;
    font-weight: bold;
}

.footer-info p,
.footer-links a,
.footer-policy h3 {
    color: var(--text-color-inverted);
    text-decoration: none;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links a:hover {
    color: var(--accent-color);
}
