@import "./variables.css";


/* Footer */
.footer {
    background-color: var(--surface-color-special);
    color: #ffffff;
    padding: 3rem 0;
    border-top-left-radius: var(--corner-radius);
    border-top-right-radius: var(--corner-radius);
    border: var(--card-border);
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-wrap: nowrap;
}

.footer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    gap: 2em;
}

.footer-logo {
    width: 130px;
    max-width: 130px;
    min-width: 90px;
}

.footer a {
    color: currentColor;
    text-decoration: none;
    font-weight: normal;
}

.footer a:hover {
    text-decoration: underline;
}
