@import "./variables.css";

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.6rem 1.2rem 0.6rem 1.2rem;

    filter: drop-shadow(1.2px 1.2px 2px rgba(0, 0, 0, 0.1));
    /* filter: drop-shadow(1.8px 1.8px 0 var(--border-color)); */

    /* background-color: var(--background-color); */
    /* border-bottom-right-radius: var(--corner-radius); */
    min-height: calc(2 * var(--corner-radius));
    font-size: 1.1rem;

    /* border-right: 1px inset var(--border-color); */
    /* border-bottom: 1px inset var(--border-color); */

}

.inner-space,
.outer-corner {
    position: absolute;
    z-index: -10;
}

.outer-corner path:first-child {
    stroke: none;
    fill: var(--background-color);
}

.outer-corner path:last-child {
    stroke: var(--border-color);
    stroke-width: 1px;
    fill: none;
}

.outer-corner[data-tag="1"] {
    top: -4px;
    right: -36px;
}

.outer-corner[data-tag="2"] {
    left: -4px;
    bottom: -36px;
}

.inner-space {
    fill: var(--background-color);
    stroke-width: 1px;
    stroke: var(--border-color);
    right: 0;
    bottom: 0;
}

.header a:hover,
.header a {
    text-decoration: none;
}

.header-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2.2rem;
    min-width: 2.2rem;
    padding: 0.7rem;
    border-radius: 99px;
    color: var(--text-color);
    font-family: var(--body-font);
    transition: background-color 0.25s ease, color 0.25s ease;
}

.header-item:hover {
    background-color: color-mix(var(--accent-color) 16%, transparent);
    color: var(--accent-color);
}

.theme-toggle {
    display: grid;
    place-items: center;
    padding: 0;
    border: none;
    border-radius: 999px;
    background-color: transparent;
}

