@import './button.css';
@import "./variables.css";


/* Stories Section */
.story-card {
    flex: 0 0 clamp(200px, 40vw, 300px);
    background-color: var(--surface-color-special);
    color: var(--text-color-special);
    border-radius: var(--corner-radius);;
    padding: var(--card-padding-vertical) var(--card-padding-horizontal);
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: var(--card-shadow);
    border: var(--card-border);
    margin: 1.2em min(1vw, 30px) 2em;
}

.story-card[data-tag="0"] { --tag-color: #142A68; }
.story-card[data-tag="1"] { --tag-color: #68144C; }
.story-card[data-tag="2"] { --tag-color: #146842; }

.story-card {
    background:
        radial-gradient(ellipse 80% 25% at 0% 0%, var(--tag-color) 0%, transparent 100%),
        radial-gradient(ellipse 100% 35% at 100% 100%, var(--tag-color) 0%, transparent 100%),
        var(--surface-color-special);
}

/* Анимации при наведении на карточку */
.story-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.story-image-container {
    width: calc(100% - 50px); 
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Анимация фотографии при наведении */
.story-card:hover .story-image-container {
    transform: scale(1.05);
    box-shadow: 0 0 30px var(--tag-color)
}

.story-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease;
}

/* Анимация текста при наведении */
.story-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.story-faculty {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    transition: transform 0.3s ease;
}

.story-description {
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.story-card:hover .story-description {
    opacity: 1;
}

.story-date {
    font-size: 0.8rem;
    margin-top: auto;
    transition: color 0.3s ease;
    opacity: 0.6;
}
