---
import { Image } from "astro:assets";
import EventList from "../components/EventList.astro";
import MemberList from "../components/MemberList.astro";
import StoriesList from "../components/StoriesList.astro";
---

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITMO.MEGABATTLE</title>
    <link rel="stylesheet" href="/src/styles/styles.css">
    <script src="https://api-maps.yandex.ru/v3/?apikey=b12309b1-b915-4496-b073-c2c1fe400b0f&lang=ru_RU"></script>
      
</head>
<body>
    <!-- Декоративные векторы -->
    <!-- <div class="vector-decoration vector-top-right"></div> -->
    <!-- <div class="vector-decoration vector-middle-left"></div> -->
    <!-- <div class="vector-decoration vector-bottom-right"></div> -->
    
    <header class="header">
        <nav>
            <ul class="nav-links">
                <li><a href="#home">Главная</a></li>
                <li><a href="#about">О проекте</a></li>
                <li><a href="#events">События</a></li>
                <li><a href="#team">Команда</a></li>
                <li><a href="#organizers">Организаторы</a></li>
                <li><a href="#responsible">Ответственные</a></li>
                <li><a href="#stories">Участники</a></li>
                <li><a href="#contacts">Контакты</a></li>
            </ul>
        </nav>
        <div class="outer-corner" data-tag="1"></div>
        <div class="outer-corner" data-tag="2"></div>
    </header>
    
    <main>
        <div class="hero" id="home">
            <div class="video-background">
                <video autoplay muted loop playsinline>
                    <source src="/hero-video.mp4" type="video/mp4"/>
                </video>
            </div>
            <div class="hero-content">
                <img class="hero-title" src="megabattle.svg" alt="ITMO.MEGABATTLE"/>
                <p class="hero-slogan">Не для всех, а для каждого</p>
            </div>
        </div>

        <section id="about" class="about">
            <h1>О&nbsp;ПРОЕКТЕ</h1>
            <div class="about-content">
                <Image src="/src/images/about-image.png" width="670" height="777" alt="О проекте" class="about-image"/>
                <div class="about-text">
                    <p>
                        ITMO.Megabattle — проект, представляющий собой масштабную 
                        студенческую инициативу, нацеленную на создание открытой, 
                        многоуровневой площадки для культурно-творческого, организаторского 
                        и личностного роста студентов Университета ИТМО. Проект соединил 
                        в себе традиции двух ранее существовавших мероприятий — «Весна в 
                        ИТМО» и «Я первокурсник», образовав целостную экосистему, где 
                        каждый студент может найти себе подходящую роль.
                    </p>
                    <p>
                        Уникальность проекта заключается в полном цикле организации и 
                        реализации силами студенческого актива без привлечения внешних 
                        специалистов. 
                    </p>
                    <p>
                        ITMO.Megabattle — это не просто серия мероприятий, а полноценная 
                        экосистема, стимулирующая развитие творческого, организаторского 
                        и профессионального потенциала студентов. Проект формирует сильное 
                        студенческое сообщество, создает условия для реализации самых разнообразных
                        идей и проектов, укрепляет бренд Университета ИТМО как места, где каждый 
                        может раскрыть себя и получить бесценный опыт.
                    </p>
                </div>
            </div>
        </section>

        <section id="events" class="events">
            <EventList startDate="november 2025"/>
        </section>

        <!-- Чтобы были рабочие якорные ссылки -->
        <span id="organizers"></span>
        <span id="responsible"></span>

        <section class="team" id="team">
            <h1 class="team-title">КОМАНДА</h1>
        
            <div class="team-filters">
                <button class="button team-filter" data-tag="organizers">Мегаорганизаторы</button>
                <button class="button team-filter" data-tag="responsible">Мегаответственные</button>
            </div>

            <MemberList />
        </section>

        <section id="stories" class="stories">
            <h1>ИСТОРИИ УЧАСТНИКОВ</h1>
            <StoriesList />
        </section>


        <section id="contacts" class="contacts">
            <h1>КОНТАКТЫ</h1>
            <div class="contacts-container">
                <div id="map" class="map" style="width: 600px; height: 400px">

                </div>
                <div class="contact-info">
                    <p><i class="icon-location"></i> ул. Ломоносова, д.9</p>
                    <p><i class="icon-phone"></i> +7 (999) 999-99-99</p>
                    <p><i class="icon-email"></i> artem.b@itmo.ru</p>
                    <button class="button">Построить маршрут</button>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-content">
            <div class="footer-logo">ITMO.MEGABATTLE</div>
            <div class="footer-info">
                <p>© 1993-2024</p>
                <p>г. Санкт-Петербург</p>
                <p>ул. Ломоносова, д.9</p>
            </div>
            <div class="footer-links">
                <h3>Главная</h3>
                <ul>
                    <li><a href="#about">Мероприятия</a></li>
                    <li><a href="#team">Команда</a></li>
                    <li><a href="#contacts">Контакты</a></li>
                </ul>
            </div>
            <div class="footer-policy">
                <h3>Политика конфиденциальности</h3>
            </div>
        </div>
    </footer>

    <script src="/src/js/maps.js"></script>
    <script src="/src/js/index.js"></script>
    <script lang='js'>
        // // Инициализация карты
        // const itmoMap = new ITMOMap('map');
        // itmoMap.init();

        // Обработка кнопки построения маршрута
        document.querySelector('.contact-button').addEventListener('click', () => {
            itmoMap.buildRouteFromCurrentLocation();
        });
    </script>
</body>
</html> 
